.calendarWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin: auto;
  column-gap: 0.3em;
  row-gap: 0.1em;
  width: 700px;
  padding: 0 30px 30px 30px;
}

.weekday {
  background-color: #f1f1f1;
  color: black;
  font-weight: 400;
  padding: 0.1em;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.month {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 2em;
  text-align: left;
  margin-top: 0;
  padding-left: 4%;
  margin-bottom: 3%;
}
.day {
  height: 70px;
  width: 100%;
  position: relative;
}

.calendarBox {
  background-color: white;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
  max-width: 760px;
  padding-top: 2%;
  margin: auto;
}

.calendarContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 1100px) {
  .landingWrapper {
    display: flex;
    flex-direction: column;
    margin: 3%;
  }

  .logoWrapper {
    width: 20%;
    margin-bottom: 10%;
  }

  .month {
    text-align: left;
    padding: 0;
    margin-bottom: 7%;
  }

  .calendarWrapper {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .calendarBox {
    background-color: transparent;
    padding: 0;
  }

  .prevArrow,
  .nextArrow {
    display: none;
  }

  .day {
    height: 7vw;
    width: 8vw;
  }
}

@media (max-width: 768px) {
  .calendarWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .emptyDay {
    display: none;
  }

  .weekday {
    display: none;
  }
}
