.landingWrapper {
  grid-template-columns: [first] 10% [line3] auto [col4-start];
  display: grid;
}

.logoWrapper {
  width: 70%;
  height: 100%;
}

.main {
  margin-top: 3%;
}

.subtitle {
  font-weight: 300;
  font-size: 1.45em;
  line-height: 0.8em;
  margin: 0;
  opacity: 0;
  position: relative;
  top: 40px;
}

.logo {
  opacity: 0;
  position: relative;
  top: 40px;
}

.backArrow {
  margin-top: 30vh;
}

.info {
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5%;
  color: white;
}

.container {
  width: auto;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
